[user]
	name = Ryn Parin
	email = ryn.parin@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	autoSetupRemote = true

[url "ssh://git@github.com/"]
        insteadOf = https://github.com/
